.contact {
  height: 100vh;
  background-color: #2d3446;
}


.contact .content{
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.contact .email {
  font-size: 3em;
  color: #b6c0ce;
  text-decoration: none;
}


.contact .social {
  display: inline-block;
  font-size: 3.3em;
  color: white;
  margin-right: 20px;
}

.contact .social a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .03em;
  margin-left: 5px;
  margin-right: 5px;
  color: #a1afc4;
}
