header {
  position: relative;
  height: 80px;
  background-color: rgb(27,27,27);
  text-align: center;
  box-shadow: 0 8px 100px -4px rgba(0,0,0,0.4);
  z-index: 10;
}

/* only apply this style if this element exists under this other element my dude */
header .logo {
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: red;
}

header .links {
  line-height: 80px;
}

header .links a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .03em;
  margin-left: 5px;
  margin-right: 5px;
  color: rgb(223,223,223);
}

header .links a:hover {
  color: #FA0013;
}

header .menuicon {
  display: none;
  position: absolute;
  top: 25px;
  right: 10px;
  color: rgb(223,223,223);

}


/*  specifiy the parents positon is realtive
so that you can position the children positions as absolute
allows you to move the child in the parent element around lol
*/
