  @media (max-width: 700px) {
    .resume {
      height: 120vh !important;
    }
  }

  @media (max-width: 375px) {
  .resume {
    height: 1000px;
  }

  header .menuicon {
    display: block;
  }

  header .links {
    display: none;
    width: 100%;
    background-color: #5b6474;
    position: absolute;
    top: 0;
    left: 0;
  }

  header .links a {
    display: block;
    width: 100%;
    background-color: #5b6474;
    margin: 0;
  }

  header .menuicon:hover ~ .links {
    display: block;
    height: 250px;
  }

  header .links:hover {
    display: block;
    height: 250px;
  }

  .about .content h1 {
    font-size: 5em;
  }

  .portfolio h2 {
    font-size: 2em;
  }

  .portfolio h3 {
    font-size: 1.5em;
  }

  .contact .content .email {
    font-size: 1.5em;
  }

  .contact .content .social {
    font-size: .7em;
  }


}
