.resume {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #121212;
}

.resume .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 800px;
}

.resume .content p {
  line-height: 1.2em;
  color: white;
  margin-bottom: 30px;
}

.resume .logo {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 30px;
}


.resume .download {
  position: relative;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  border: 1px solid #888888;
  font-size: 1.5em;
  padding: 10px;
  text-decoration: none;
  width: 150px;
  height: auto;
  line-height: auto;
  text-align: center;
}

.resume .download:hover {
  color: #FA0013;
}
